# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# turbo
.turbo/

# build
dist/
build/

# env
.env
.env.local
.env.*.local

# drizzle
packages/db/src/migrations/meta/

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
*.pem

# testing
coverage/
